.employee{
  width: 300px;
  height: 200px;
  background-color: aqua;
  box-shadow: 0 0 10px black;
  padding: 10px;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 30px;
  display: inline-block;
}
